@import "tailwindcss";

/* ========================= THEME 0 ========================= */
:root {
  --background: #FFFFF3;
  --dark: #1B2421;
  --txt: #5d8b6c;
  --org: #DF7C3E;
  --col1: #659A55;
  --col2: #225138;
  --greenTran: #659a553b;
  --greenTranSolid : #dbe8cf;
  --colTran: #df7c3e4c;
  --bgTran:#fffff35c;

  --theme_:#DF7C3E;
  --theme_1:#e937dd;
  --theme_2:#3F84E5;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #FFFFF3;
    --dark: #1B2421;
    /* green */
    --txt: #5d8b6c;
    --col1: #659A55;
    --col2: #225138;
    --greenTran: #659a553b;
    --greenTranSolid : #dbe8cf;
    --bgTran:#fffff35c;
    /* orange */
    --org: #DF7C3E;
    --colTran: #df7c3e4c;
  }
}
[data-theme="-dark"]  {
  --background: #0c110f;
  --dark: #0f172a;
    /* green */
    --txt: #5d8b6c;
    --col1: #659A55;
    --col2: #3c9767;
    --greenTran: #659a553b;
    --greenTranSolid : #dbe8cf;
    --bgTran:#1b242178;
    /* orange */
    --org: #DF7C3E;
    --colTran: #df7c3e4c;
}
/* ========================= THEME 1 ========================= */
[data-theme="1"] {
  --dark: #0f172a;
  --background: #ffffff;
  
  --txt: #9B6A6C;
  --col1: #B09398;
  --col2: #8e476c;
  --greenTran: #9b6a6c7b;
  --greenTranSolid : #cfb7b8;
  --bgTran:#ffffff6c;

  --org: #e937dd;
  --colTran: #dc18cf28;
}
[data-theme="1-dark"] {
  --dark: #0f172a;
  --background: #000e2c;
  --bgTran:#000e2c70;
  
  --txt: #8e476c;
  --col1: #B09398;
  --col2: #ea9aff;
  --greenTran: #d27ccb7b;
  --greenTranSolid : #f19bee;

  --org: #e937dd;
  --colTran: #dc18cf28;
}
/* ========================= THEME 2 ========================= */
[data-theme="2"] {
  --dark: #0f172a;
  --background: #ffffff;
  --bgTran:#ffffff6c;

  --txt: #593a05;
  --col1: rgb(225, 203, 125);
  --col2: #e56600;
  --greenTran: rgba(255, 174, 74, 0.49);
  --greenTranSolid : #ffcfa8;

  --org: #3F84E5;
  --colTran: #3f84e564;
}
[data-theme="2-dark"] {
  --dark: #0f172a;
  --background: #05000f;
  --bgTran:#0d002767;

  --txt: #b58253;
  --col1: rgb(225, 203, 125);
  --col2: #f28f51;
  --greenTran: rgba(255, 174, 74, 0.49);
  --greenTranSolid : #001c81;
 
  --org: #3F84E5;
  --colTran: #3f84e564;
}

@theme inline {
  --color-background: var(--background);
  --color-dark: var(--dark);
  --font-sans: var(--inconsolata);
  --font-mono: var(--oneMono);
}

nav {
  width: 100%;
}

body {
  background: var(--background);
  color: var(--txt);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  width: fit-content;
}

h2 {
  font-size:x-large;
}

h1, h2{
  display: block;
  font-weight: bold;
  pointer-events: all;
}

p{
  color: var(--col2);
  margin: 10px;
  font-size: large;
}


.box {
  position: relative;
  width: 300px;
  height: 180px;
  padding: 20px;
  background: #111;
  color: white;
}

.corner {
  margin: -10px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: var(--colTran);
  border-style: solid;
}

/* Top Left */
.top-left {
  top: 0;
  left: 0;
  border-width: 5px 0 0 5px;
}

/* Top Right */
.top-right {
  top: 0;
  right: 0;
  border-width: 5px 5px 0 0;
}

/* Bottom Left */
.bottom-left {
  bottom: 0;
  left: 0;
  border-width: 0 0 5px 5px;
}

/* Bottom Right */
.bottom-right {
  bottom: 0;
  right: 0;
  border-width: 0 5px 5px 0;
}

.skillIcon {
  pointer-events: all;
}
.skillCard{ 
  cursor: pointer;
  pointer-events: all;
}
.skillCard:hover > div > .skillIcon {
  color: var(--org);
}
.skillIconBtn.active{
  color: var(--org);
}
.title_port:hover{
  color: var(--org);
}

.minNav{
  flex-direction: column;
  align-content: center;
}

.card:hover>.proj-display>.w-full{
  color: var(--org);
}


.ProjCard{
  border-color: var(--greenTranSolid);
  border-style: solid;
  width: 17px;
  height: 17px;
  margin: -2px;
  position: absolute;
}

.containIcon>svg{
  transition-duration: 0.1s;
  width:  6rem;
  height: 6rem;
}

.bounce{
  margin-top: -5px;
  margin-bottom: 5px;
  color: var(--org);
}

.card:hover>.proj-display>.justify-center>.containIcon>svg{
  margin-top: -5px;
  margin-bottom: 5px;
  color: var(--org);
}

.codeLinkIcon>svg{
  width: 2rem;
}
.codeLinkIcon:hover{
  color: var(--org);
}
.projHead{
  pointer-events: all;
}

.projHead:hover>div>svg{
  margin-top: -5px;
  margin-bottom: 5px;
  color: var(--org);
}

.markDown>img{
  display: none;
}

.markDown{
  overflow: hidden;
  transition: max-height 1s ease;
}
.preview-frame{
  overflow: auto;
  scrollbar-color: var(--txt) var(--background);
}
.miniIcon>svg{
  width : 3rem;
  height: 3rem;
}
.miniFavicon>svg{
  min-height: 22px;
  max-height: 23px;
  min-width : 22px;
  max-width : 23px;
}

.iconMoreInfo>svg{
  width: 11rem;
  height: 11rem;
}

.darkModeIcon>div>svg{
  height: 3rem;
  width : 3rem;
}